# Bağımlılıklar
node_modules/
.next/
build/
dist/

# STM32 ve Gömülü Sistem Çıktıları
**/Debug/
**/Release/
**/*.bin
**/*.elf
**/*.hex
**/*.map
**/*.lst
**/*.o
**/*.d
.mxproject
# Python / RPi
__pycache__/
.venv/

# Sistem ve Çevre Değişkenleri
.env*
.DS_Store